


  {{!-- <a href='/users/myevents'>My Events</a>
  <a href='/events'>Events list</a>
  <a href='/users/profile'>Profile</a>
  --}}

<h2>Events</h2>
{{!-- <button class='primary-button'><a href='/events/create'>Add new event</a></button> --}}

  {{#each event}}
    <div class="event-card">
      <h3>{{this.name}} </h3>
          {{!-- {{Dynamic images}} --}}
    {{#ifvalue this.category value='Music'}}
      <p><img class='event-img' src='/images/Music.jpeg' /></p>
    {{/ifvalue}}
    {{#ifvalue this.category value='Sport'}}
      <p><img class='event-img' src='/images/Sport.jpg' /></p>
    {{/ifvalue}}
    {{#ifvalue this.category value='Cinema'}}
      <p><img class='event-img' src='/images/Cinema.jpeg' /></p>
    {{/ifvalue}}
    {{#ifvalue this.category value='Outdoors'}}
      <p><img class='event-img' src='/images/Outdoors.jpeg' /></p>
    {{/ifvalue}}
    {{#ifvalue this.category value='Learning'}}
      <p><img class='event-img' src='/images/Learning.jpeg' /></p>
    {{/ifvalue}}
      <p>Location: {{this.location}}</p>
      <p>Date: {{this.date}} </p>
      <p>Price: {{this.price}} €</p>
      {{!-- <p>Category: {{this.category}} </p> --}}
      {{!-- <p>Description: {{this.description}} </p> --}}
      
      {{!-- baseline --}}
      <div class="line">
        <button class='third-button'><a href='/events/details/{{id}}'>Event Details</a></button>
        
        {{!-- <button class='third-button'><a href='/events/edit/{{id}}'>Edit Events</a></button> --}}
        {{!-- EDIT ICON --}}
        <a href='/events/edit/{{id}}'>
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="pen" class="svg-inline--fa fa-pen fa-w-16"
          role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path fill="#D4D1CC"
            d="M290.74 93.24l128.02 128.02-277.99 277.99-114.14 12.6C11.35 513.54-1.56 500.62.14 485.34l12.7-114.22 277.9-277.88zm207.2-19.06l-60.11-60.11c-18.75-18.75-49.16-18.75-67.91 0l-56.55 56.55 128.02 128.02 56.55-56.55c18.75-18.76 18.75-49.16 0-67.91z">
          </path>
        </svg>
        </a>
        {{!-- edit icon end --}}

        {{!-- delete evetn icon --}}
        <form class="delete-form" action='/events/delete/{{id}}' method='POST'>
          <button class="trash" type='submit'>
            <svg type='submit' aria-hidden="true" focusable="false" data-prefix="fas" data-icon="trash-alt"
              class="svg-inline--fa fa-trash-alt fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              <path fill="currentColor"
                d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z">
              </path>
            </svg>
          </button>
        </form>
        </div>
      {{!-- end lin class --}}
 
  {{/each}}
  </div>

{{> fabButton}}
{{> appbarBottom}}

{{!-- <h1>Events</h1>

<button class='primary-button'><a href='/events/create'>Add new event</a></button>

<div>
  {{#each event}}
    <div>
      <h3>{{this.name}} </h3>
      {{!-- <p>: {{this.image}}</p> --}}
      {{!-- <p>Location: {{this.location}}</p>
      <p>Date: {{this.date}} </p>
      <p>Price: {{this.price}} €</p>
      {{!-- <p>Category: {{this.category}} </p> --}}
      {{!-- <p>Description: {{this.description}} </p> --}}

      {{!-- <button class='third-button'><a href='/events/details/{{id}}'>Event Details</a></button>
      <br />
      <button class='third-button'><a href='/events/edit/{{id}}'>Edit Events</a></button>
      <br />
      <form action='/events/delete/{{id}}' method='POST'>
        <button class='third-button' type='submit'> Delete Event </button>
      </form>

    </div>
  {{/each}} --}}

{{!-- </div> --}}