<h1>This is the event list</h1>

<a href='/events/create'>Add new event</a>

<div>
  {{#each event}}
    <div>
      <h3>{{this.name}} </h3>
      <p>: {{this.image}}</p>
      <p>Location: {{this.location}}</p>
      {{!-- <p>Date: {{this.date}} </p>
      <p>Price: {{this.price}} $</p>
      <p>Category: {{this.category}} </p>
      <p>Description: {{this.description}} </p> --}}
      <a href='/events/edit/{{id}}'>Edit Events</a>
      <a href='/events/details/{{id}}'>Event Details</a>
      <form action='/events/delete/{{id}}' method='POST'>
        <button type='submit'> Delete Event </button>
      </form>

    </div>
  {{/each}}

</div>