<h1>details</h1>

<div>
  {{!-- {{show}} --}}
  <div>
    <h3>{{show.name}} </h3>
    {{#if show.category.music}}
      <img src='images/music.png' />
    {{else}}{{/if}}

    <p>Location: {{show.location}}</p>
    <p>Date: {{show.date}} </p>
    <p>Price: {{show.price}} $</p>
    <p>Category: {{show.category}} </p>
    <p>Description: {{show.description}} </p>
    {{!-- <a href='/events/edit/{{id}}'>Edit Events</a>
      <form action='/events/delete/{{id}}' method='POST'>
        <button type='submit'> Delete Event </button>
      </form> --}}

  </div>
  {{!-- {{/each}} --}}

</div>