{{! <h1>Event Details</h1> }}
<a href='/events'><img src='/images/backArrow.png' /></a>
{{! <a href='/events'> Back to Event List </a> }}

<h1> {{showEventDetails.name}}</h1>

<div>

  <div>
    {{!-- <h3>{{showEventDetails.name}} </h3> --}}

    {{!-- {{Dynamic images}} --}}
    {{#ifvalue showEventDetails.category value='Music'}}
      {{!-- {{En cada uno de estos tenéis que llamar a la imagen que queráis de la carpeta public/images <img class="event-img" src="images/music.png"//>}} --}}
      {{! <p>Music image 📻</p> }}
      <p><img class='event-img' src='/images/Music.jpeg' /></p>
    {{/ifvalue}}
    {{#ifvalue showEventDetails.category value='Sport'}}
      <p><img class='event-img' src='/images/Sport.jpg' /></p>
    {{/ifvalue}}
    {{#ifvalue showEventDetails.category value='Cinema'}}
      <p><img class='event-img' src='/images/Cinema.jpeg' /></p>
    {{/ifvalue}}
    {{#ifvalue showEventDetails.category value='Outdoors'}}
      <p><img class='event-img' src='/images/Outdoors.jpeg' /></p>
    {{/ifvalue}}
    {{#ifvalue showEventDetails.category value='Learning'}}
      <p><img class='event-img' src='/images/Learning.jpeg' /></p>
    {{/ifvalue}}
    {{!-- {{End of dynamic images}} --}}

    <p>Location: {{showEventDetails.location}}</p>
    <p>Date: {{showEventDetails.date}} </p>
    <p>Price: {{showEventDetails.price}} $</p>
    <p>Category: {{showEventDetails.category}} </p>
    <p>Description: {{showEventDetails.description}} </p>

    <form action='/events/join/{{showEventDetails._id}}' method='POST'>
      <button type='submit'> Join event </button>
    </form>

  </div>

</div>